.single-post {
    width: 90%;
    margin: auto;
    text-align: left;
    color: #000;
    background-color: #fff;
    padding: 0 25px;
    border: 1px solid #ccc;
}

.single-post h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.single-post__image {
  height: 20rem;
  width: 20rem;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}
